# Default values for basket.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
clusterName: minikube

image:
  repository: localhost:5000/basketapi
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v3"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "basket"

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# env defines the environment variables that will be declared in the pod
env:
  values:
  - name: ASPNETCORE_ENVIRONMENT
    value: Development
  urls:
  # configmap declares variables which value is taken from the config map defined in template configmap.yaml (name is name of var and key the key in configmap).
  configmap:
    - name: CacheSettings__ConnectionString
      key: CacheSettings__ConnectionString
    - name: GrpcSettings__DiscountUrl
      key: GrpcSettings__DiscountUrl
    - name: EventBusSettings__HostAddress
      key: EventBusSettings__HostAddress
    - name: ElasticConfiguration__Uri
      key: ElasticConfiguration__Uri
ingress:
  enabled: false